/**
 *
 * Custom Post Thumbnail (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-09-10
 *
 */

.st_post_thumbnail_image {
	padding-bottom: 66.66%;
	background-size: contain;
	background-repeat: no-repeat;
}
.st_post_thumbnail_delete_label {white-space: nowrap;}
.st_post_thumbnail_select {margin-left: 4px !important;}
.st_post_thumbnail_edit_row {display: flex; margin-top: 1em;}
.st_post_thumbnail_delete {margin-right: auto;}
