/**
 *
 * Single Media Picker (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-05-17
 *
 */


$breakpoint-single-wrap: 20rem;


.st-single-media-picker-add-row {
	text-align: right;
	margin-top: 1em;
}

.st-single-media-picker {
	margin: 1em 0;
}

.st-single-media-picker-item {
	display: flex;
}

.st-single-media-picker-item-ctrl {
	padding: 4px 12px 4px 2px;
	width: 28px;

	.st-single-media-picker-delete {
		white-space: nowrap;
		color: #a00;
		font-size: 11px;
		line-height: 1;
	}
}

.st-single-media-picker-item-cont {
	flex-grow: 1;
	width: calc(100% - 40px);
}

.st-single-media-picker-item-inside-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 2px 0;

	&:nth-child(1) > input {
		flex-grow: 1;
	}
	&:nth-child(2) {
		width: 100%;
	}
	span:first-child {
		display: inline-block;
		padding-right: 4px;
		text-align: left;

		min-width: 4.5rem;
		width: calc((#{$breakpoint-single-wrap} - 100%) * 1000);
		max-width: 100%;
	}
	span:last-child {
		display: flex;
		flex-grow: 1;
	}

	.st-single-media-picker-select {
		margin-left: 4px !important;
	}
}

.st-single-media-picker-filename {
	flex-grow: 1;
	word-break: break-all;

	border: 1px solid #eee;
	margin: 1px;
	padding: 3px 5px;
}
