/**
 *
 * Single Media Picker (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-07-14
 *
 */

.st_single_media_picker {margin: 1em 0;}
.st_single_media_picker_item_row {display: flex;}
.st_single_media_picker_item_row > div:nth-child(1) {padding: 4px 2px;}
.st_single_media_picker_item_row div:nth-child(2) {flex-grow: 1;}
.st_single_media_picker_row {display: flex; align-items: center; padding: 2px 0;}
.st_single_media_picker_row:nth-child(2) > *:nth-child(2) {padding-left: 6px;}
.st_single_media_picker_row > span:nth-child(2) {flex-grow: 1;}
.st_single_media_picker_row:nth-child(1) > input {width: 100%;}
.st_single_media_picker_row span:first-child {display: inline-block; padding-right: 4px; min-width: 5rem; text-align: right;}
.st_single_media_picker_delete_label {white-space: nowrap;}
.st_single_media_picker_select {margin-left: 4px !important;}
.st_single_media_picker_edit_row {display: flex; margin-top: 1em;}
.st_single_media_picker_delete {color: #a00; white-space: nowrap;}
.st_single_media_picker_new_select_row {text-align: right;}
.st_single_media_picker_name {word-break: break-all;}
