/**
 *
 * Slide Show Admin (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-02-02
 *
 */


.st-slide-show-table {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.st-slide-show-item {
	display: flex;
	background-color: rgba(255, 255, 255, 0.75);
	padding-top: 4px;
	padding-bottom: 4px;
}

.st-slide-show-item > div:nth-child(1) {
	display: flex;
	flex-direction: column;

	padding-top: 4px;
	padding-bottom: 4px;
}

.st-slide-show-handle {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	color: #ccc;
    cursor: move;
}

.st-slide-show-item > div:nth-child(2) {
	flex-grow: 1;

	display: flex;
	flex-wrap: wrap;

	padding-left: 4px;
}

.st-slide-show-info {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.st-slide-show-info > div {
	display: flex;
	align-items: center;
}

.st-slide-show-info input[type=text] {
	width: 100%;
}

.st-slide-show-thumbnail-wrap {
	display: flex;
	width: 100%;
	max-width: calc(320px + 16px);
}

.st-slide-show-thumbnail {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	width: 100%;
	max-width: 160px;
}

.st-slide-show-thumbnail > a {
	display: block;
	position: relative;

	border-color: #ccc;
	background-color: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;

	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}

.st-slide-show-thumbnail > a:hover {
	background-color: #fafafa;
	border-color: #999;
}

.st-slide-show-thumbnail > a:active {
	background-color: #eee;
	border-color: #999;
	box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
	transform: translateY(1px);
}

.st-slide-show-thumbnail > a::before {
	content: '';
	display: block;
	padding-top: 75%;
}

.st-slide-show-thumbnail > a > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	pointer-events: none;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.st-slide-show-item-deleted > div:nth-child(2) {
	opacity: 0.5;
	pointer-events: none;
}

.st-slide-show-delete-label {
	white-space: nowrap;
	color: #a00;
}

.st-slide-show-select {
	margin-left: 4px !important;
}

.st-slide-show-item-template {
	display: none;
}

.st-slide-show-add-row {
	text-align: right;
	padding-top: 10px;
}

.st-slide-show-item-placeholder {
	height: 166px;
}
