/**
 *
 * Video Picker (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-03-16
 *
 */

.st_video_picker_delete_label {white-space: nowrap;}
.st_video_picker_select {margin-left: 4px !important;}
.st_video_picker_edit_row {display: flex; margin-top: 1em;}
.st_video_picker_delete {margin-right: auto;}
