/**
 *
 * Background Images (CSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2020-08-11
 *
 */


.st-background-image-table {
	display       : flex;
	flex-direction: row;
	flex-wrap     : wrap;

	margin-left: -12px;
}

.st-background-image-item,
.st-background-image-item-placeholder {
	box-sizing: border-box;
	width: 254px;
	height: 140px + 1px;
	margin: 8px 0 8px 12px;
}

.st-background-image-item {
	display: flex;
	background-color: rgba(255, 255, 255, 0.75);

	> div:nth-child(1) {
		display: flex;
		flex-direction: column;
		min-width: 32px;

		.st-background-image-handle {
			flex-grow: 1;

			display: flex;
			justify-content: center;
			align-items: center;

			color: #ccc;
			cursor: move;
		}
		.st-background-image-delete-label {
			white-space: nowrap;
			color: #a00;
			text-align: center;
			font-size: 11px;
			line-height: 1;
		}
		.st-background-image-delete {
			color: #a00;
			margin-top: 2px;
			margin-right: 0;
		}
	}
	> div:nth-child(2) {
		display: flex;
		margin-left: 12px;
	}
}

.st-background-image-select {
	margin-left: 4px !important;
}

.st-background-image-item-template-img,
.st-background-image-item-template-video {
	display: none;
}

.st-background-image-item-deleted > div:nth-child(2) {
	opacity: 0.5;
	pointer-events: none;
}

.st-background-image-thumbnail {
	width : 210px;
	height: 140px;

	position: relative;

	> a {
		display : flex;
		position: relative;
		height  : 100%;

		border: 1px solid #ccc;
		background-color: #f7f7f7;
		box-shadow      : 0 1px 0 #ccc;

		border-radius: 3px;
		overflow     : hidden;
		white-space  : nowrap;
		box-sizing   : border-box;

		&:hover {
			background-color: #fafafa;
			border-color    : #999;
		}
		&:active {
			background-color: #eee;
			border-color    : #999;
			box-shadow      : inset 0 2px 5px -3px rgba(#000, 0.5);
			transform       : translateY(1px);
		}

		> video {
			position : absolute;
			top      : 50%;
			transform: translate(0, -50%);
		}
		> div {
			position: absolute;
			top     : 0;
			left    : 0;
			right   : 0;
			bottom  : 0;

			pointer-events: none;

			background-size    : contain;
			background-repeat  : no-repeat;
			background-position: center center;
		}
	}
	.st-background-image-thumbnail-name {
		position: absolute;
		left    : 4px;
		right   : 2px;
		bottom  : 2px;

		pointer-events: none;

		> div {
			text-overflow: ellipsis;
			white-space  : nowrap;
			overflow     : hidden;
			padding      : 2px;

			font-size: 0.85em;
			color: #fff;
			text-shadow:
				#000 1px    1px  2px, #000 -#{1px}    1px  2px,
				#000 1px -#{1px} 2px, #000 -#{1px} -#{1px} 2px,
				#000 0      1px  2px, #000 -#{1px}    0    2px,
				#000 0   -#{1px} 2px, #000    1px     0    2px;
		}
	}
}

.st-background-image-add-row {
	text-align: right;
	padding-top: 10px;
}
